<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p>At "The Daily Journal," we understand the power of putting pen to paper or rather, fingertips to keyboard. Our platform empowers you to express yourself freely, without judgment, and explore the depths of your emotions and aspirations. Whether you're a seasoned writer or just starting with journaling, we welcome you with open arms.
        Our mission is to make journaling a part of your daily routine, providing you with a digital sanctuary that evolves with your thoughts. Through our user-friendly interface, you can easily compose entries, add images, and categorize your thoughts for future reference. Our commitment to privacy and security ensures that your personal reflections remain confidential.
        Feel the peace of mind as your journal entries become a roadmap of personal growth, creativity, and self-discovery. Record your dreams, goals, and moments of gratitude – "The Daily Journal" is your canvas to create, reflect, and cherish.
    </p>
<%- include("partials/footer"); -%>
