<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <ul>
        <li> Email: zamanknasari@gmail.com </li>
        <li>Phone: 7045014544 (Mon-Fri, 9 AM - 5 PM EST)</li>
    </ul>
    <p>Your feedback is valuable to us as we strive to improve your journaling experience. Join us and start capturing your thoughts! Thank you for being a part of The Daily Journal community!</p>
<%- include("partials/footer"); -%>
